@font-face {
  font-family: 'Cygre';
  src: url('/fonts/Cygre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Cygre';
  src: url('/fonts/Cygre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}