body {
  font-family: 'Cygre', sans-serif;
  color: white;
  background: black;
}

* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: #fff;
  z-index: -1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
}


header nav ul{
  list-style: none;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}


header nav ul li img {
  max-width: 25px;
}

header nav ul li a {
  color: white;
  transition: color 0.5s;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
}

.title {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  
}


.phone {
  max-width: 500px;
  z-index: 1;

}

.Name {
  position: absolute;
  left: 50px;
  bottom: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px; /*расстояние между IPhone 17 и кнопкой*/
  font-size: 70px;
  font-weight: bold;
  z-index: 3;
}

.Name .btn {
  border-radius: 30px;
  background: rgb(7, 7, 85);
  padding: 15px 0px;
  border: none;
  cursor: pointer;
  width: 150px;
  color: white;
  font-size: 20px;
}


.sq {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: black;
  background: linear-gradient(to top, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%); 
  z-index: 2; /* выше айфона */
}

.info {
  padding-bottom: 100px;
}

.info h1 {
  color: White;
  font-size: 50px;
  padding: 50px 0px;
}

.Des {
  display: flex;
  justify-content: space-between;
}

.first {
  position: relative;
  background-color: white;
  border-radius: 30px;
  height: 380px;
  width: 45%;
}


.first-info h1 {
  color:black;
  text-align: center;
  margin-top: -25px;
}

.first-info .aboutcolor {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  gap: 70px;
  font-size: 17px;
  font-weight: bold;
}

.col1 {
  color: rgb(119, 119, 119);
}
.col2 {
  color: rgb(255, 115, 0);
}
.col3 {
  color: rgb(0, 0, 66);
}
.col4 {
  color: rgb(0, 0, 0);
}

.first-info .phones {
  position: absolute;
  bottom: 0px;
}

.second {
  position: relative;
  background-color: white;
  border-radius: 30px;
  max-height: 380px;
  width: 45%;
  overflow: hidden;
}


.second-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self:right;
  width: 40%;
  top: -10px;
  right: 60px;

}
 .second-info h1 {
  color: rgb(255, 115, 0);
  margin: 0px;
  
}

.second-info p {
  font-size: 20px;
  color: black;
} 

.second .orp {
  position: absolute;
  object-fit: cover;
  width: 40%;
  top: 40px;
  left: 25px;
}

.display {
  padding-top: 100px;
  padding-bottom: 200px;
}

.cen {
  text-align: center;
  padding-bottom: 100px;
  font-size: 80px;
}

.display h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.disinfo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  text-align: center;
  align-items: start;
}

.disinfo h1 {font-size: 70px;}
.disinfo p { font-size: 20px;}

.DisPhone {
  grid-column: 2;
  z-index: 1;
  width: 450px;
}

.r { grid-column: 1; grid-row: 1;}
.c { grid-column: 3; grid-row: 1;}

.s, .h {
  position: absolute;
  top: 50%;
  align-items: center;
  text-align: center;
  
  z-index: 2;
}

.s {left: 15%;}
.h {right: 15%;}

.RD {
  grid-column: 2;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.camera {
  padding-bottom: 100px;
}

.Cam {
  font-size: 80px;
  text-align: center;
  margin-bottom: 70px;
}

.camera .back-cam img {
  width: 50%; 
}

.camera .back-cam {
  position: relative;
  display: flex;
  margin-bottom: 100px;
}

 .back-cam .inf {
  position:absolute;
  right: 0px;
  text-align: end;
  width: 50%;
  align-items: center;

} 

.back-cam .inf h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.back-cam .inf p {
  text-transform: uppercase;
  font-size: 20px;
  padding: 7px 0px;
  
  
}

.front-cam {
  display: flex;
  justify-content:space-between;
}

.front-cam h1 {
  font-size: 50px;
}

.front-cam img {
  width: 50%;
}


.proc h1 {
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

.proc-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proc-info p {
  font-size: 50px;
  width: 70%;
}

.proc .processors {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 20px 50px;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}